@use "variables";

.cta-button {
  transition: opacity 0.3s ease, box-shadow 0.3s ease;
  box-shadow: variables.$shadow-cta-button;

  &:hover {
    opacity: 0.85;
    box-shadow: variables.$shadow-cta-button--hover;
  }
}

.favorite-button {
  .favorite-icon {
    transition: opacity 0.3s ease;

    &--empty {
      opacity: 1;
    }

    &--full {
      opacity: 0;
    }
  }

  &:hover,
  &:active,
  &:focus {
    .favorite-icon {
      &--empty {
        opacity: 0;
      }

      &--full {
        opacity: 1;
        animation: bounce 0.6s ease;
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.loader {
  // fadeOut 1s duration
  // 2s delay before starting fadeOut
  // forwards Keeps the final state of animation after execution. (Stay hidden)
  animation: fadeOut 1s ease 2s forwards;

  &__spinner {
    animation: spin 2s linear infinite;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.menu-section {
  animation: appearFromBottom 0.9s forwards;
  opacity: 0;

  // Change animation-delay for each child
  // All children will appear one by one
  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.3}s;
    }
  }
}

@keyframes appearFromBottom {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.menu-item {
  &:hover .menu-item__checkbox-container,
  &:focus .menu-item__checkbox-container,
  &.active .menu-item__checkbox-container {
    animation: slideToLeft 0.3s ease forwards;
  }
}

.menu-item .menu-item__checkbox-container {
  animation: slideToRight 0.3s ease;
}

@keyframes slideToLeft {
  from {
    margin-right: -59px;
  }
  to {
    margin-right: 0;
  }
}
@keyframes slideToRight {
  from {
    margin-right: 0;
  }
  to {
    margin-right: -59px;
  }
}
