@use "mixins";

// ------------------------------ index.html ------------------------------

// Loader
.loader {
  @include mixins.flex(row, center, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;

  &__spinner {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 30px;
  }
}

// body
body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

// Header
.header {
  @include mixins.flex(column, center, stretch);
  position: relative;

  &__logo-container {
    @include mixins.flex(row, center, center);
    height: 63px;
    z-index: 1;
  }

  &__location {
    @include mixins.flex(row, center, center);
    height: 50px;
    gap: 17px;
  }
}

// Hero Section
.hero {
  @include mixins.flex(column, flex-start, center);
  text-align: center;
  padding: 30px;

  &__title {
    margin: 7px 20px 0;
  }

  &__subtitle {
    margin-top: 12px;
  }

  &__button {
    @include mixins.flex(row, center, center);
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 20px;
  }
}

// Functioning Section
.functioning {
  padding: 40px 20px;

  &__title {
    margin-top: 5px;
  }

  &__steps {
    @include mixins.flex(column, flex-start, stretch);
    gap: 20px;
    padding-left: 12px;
    margin-top: 30px;
    margin-bottom: 28px;
  }
}

// Step Cards
.step {
  @include mixins.flex(row, flex-start, center);
  padding: 25px 20px;
  position: relative;

  &__number {
    @include mixins.flex(row, center, center);
    position: absolute;
    left: -12px;
    width: 24px;
    height: 24px;
  }

  &__icon {
    margin-right: 20px;
  }
}

// Restaurants Section
.restaurants {
  padding: 40px 17px;

  &__title {
    margin-top: 10px;
    margin-left: 3px;
  }

  &__list {
    @include mixins.flex(column, flex-start, stretch);
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

// Badge New
.restaurant__badge--new {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 7px 12px;
}

// Restaurant Card
.restaurant {
  height: 100%;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;

  &__link {
    display: block;
  }

  &__img-container {
    height: 175px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__info {
    padding: 15px;
    padding-right: 60px;
  }

  &__name {
    margin: 0 0 5px;
  }

  .favorite-button {
    @include mixins.flex(row, center, center);
    .favorite-icon {
      &--empty,
      &--full {
        position: absolute;
        right: 20px;
        bottom: 25px;
      }
    }
  }
}

// Footer
.footer {
  padding: 22px 25px;

  &__logo {
    margin-bottom: 20px;
  }

  &__item {
    @include mixins.flex(row, flex-start, center);
    margin-bottom: 10px;
  }

  &__icon {
    margin-right: 10px;
    width: 20px;
  }
}

// ------------------------------ retaurant-x.html ------------------------------

.header__back-link {
  position: absolute;
  z-index: 2;
  left: 20px;
}

// Restaurant Banner
.restaurant-banner {
  width: 100%;
  height: 275px;
  overflow: hidden;

  &__img {
    width: 100%;
    height: 100%;
  }
}

// Menu Container
.menu-container {
  position: relative;
  margin: -55px auto 0;
  max-width: 1055px;
  border-radius: 30px 30px 0 0;
  padding: 30px 15px;
  z-index: 1;
  max-width: 1055px;
}

// Menu Header
.menu-header {
  @include mixins.flex(row, space-between, center);
  margin-bottom: 30px;

  &__restaurant-name {
    font-family: "Shrikhand", cursive;
    font-size: 24px;
  }

  .favorite-button {
    @include mixins.flex(row, center, center);
    position: relative;
    .favorite-icon {
      &--empty,
      &--full {
        position: absolute;
      }
    }
  }
}

// Menu Section
.menu-section {
  margin: 0 auto 30px;
  max-width: 634px;

  &__title {
    margin-bottom: 15px;
    position: relative;
    padding-bottom: 5px;

    // I'm a pretty little green line
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40px;
      height: 3px;
    }
  }
}

// Menu Items
.menu-items {
  @include mixins.flex(column, flex-start, stretch);
  gap: 15px;
}

.menu-item {
  @include mixins.flex(row, space-between, center);
  border-radius: 15px;
  overflow: hidden;
  height: 69px;

  &__info {
    @include mixins.flex(column, flex-start, stretch);
    flex: 1;
    padding: 15px;
    min-width: 0;
  }
  &__title,
  &__details {
    flex: 1;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__price-container {
    @include mixins.flex(row, center, flex-end);
    height: 100%;
    padding: 15px;
    flex-shrink: 0;
  }

  &__checkbox-container {
    @include mixins.flex(row, center, center);
    width: 59px;
    height: 100%;
    flex-shrink: 0;
    display: none;
  }
}

// Order Button
.order-container {
  @include mixins.flex(row, center, center);
  margin: 40px 0 20px;

  &__button {
    @include mixins.flex(row, center, center);
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 50px;
  }
}
