@use "variables";

.loader {
  background-color: variables.$background-color-white;
  opacity: 0.9;

  &__spinner {
    border-color: variables.$primary-color;
    border-top-color: variables.$secondary_color;
    border-bottom-color: variables.$secondary_color;
    border-style: dashed;
  }
}

body {
  font-family: variables.$font-family-base;
  color: variables.$text-main;
  background-color: variables.$background-color-white;
}

.favorite-button {
  background: none;
  width: 21px;
  i {
    font-size: 21px;
  }
}

.favorite-icon--empty {
  color: variables.$favorite-icon-empty-text-color;
  opacity: 1;
}

.favorite-icon--full {
  background: variables.$favorite-icon-full-bg-color;
  background-clip: text; // Apply background only to the text
  -webkit-background-clip: text; // compatibility
  color: transparent; // transparent text to see background color
  opacity: 0;
}

// Call to action Button Theme
.cta-button {
  background: variables.$bg-color-cta-button;
  border-radius: 25px;
  color: variables.$text-on-dark;
  box-shadow: variables.$shadow-cta-button;
}

// Header Theme
.header {
  &__logo-container {
    background-color: variables.$background-color-white;
    box-shadow: 0px 2px 4px 0px variables.$shadow-color-1;
  }
  &__logo {
    font-family: variables.$font-family-heading;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
  }

  &__location {
    background-color: variables.$background-color-medium;
    box-shadow: 0px 4px 4px 0px variables.$shadow-color-2;
    color: variables.$text-grey;
  }

  &__location-icon {
    font-size: 16px;
  }

  &__location-text {
    font-size: 16px;
    font-weight: 500;
  }
}

// Hero Section Theme
.hero {
  background-color: variables.$background-color-light;

  &__title {
    font-size: 24px;
    font-weight: 700;
  }

  &__subtitle {
    color: variables.$text-grey;
    font-size: 18px;
    font-weight: 300;
  }
}

// Functioning Section Theme
.functioning {
  background-color: variables.$background-color-white;
  &__title {
    font-size: 24px;
    font-weight: 700;
  }
}

// Step Cards Theme
.step {
  background-color: variables.$background-color-light;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px variables.$shadow-color-1;

  &__number {
    border-radius: 50%;
    background-color: variables.$primary-color;
    color: variables.$text-on-dark;
    font-size: 14.18px;
    font-weight: 500;
  }

  &__icon {
    color: variables.$grey-3;
  }

  &__icon--active {
    color: variables.$primary-color;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
  }
}

// Restaurants Section Theme
.restaurants {
  background-color: variables.$background-color-light;

  &__title {
    font-weight: 700;
    font-size: 24px;
  }
}

// Badge New Theme
.restaurant__badge--new {
  background-color: variables.$badge-bg-color;
  color: variables.$badge-text-color;
  font-weight: 500;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px variables.$shadow-color-1;
}

// Restaurant Card Theme
.restaurant {
  background-color: variables.$background-color-white;
  border-radius: 15px;

  &__name {
    font-size: 18px;
    font-weight: 700;
  }

  &__location {
    font-size: 17px;
    font-weight: 300;
  }
}

// Footer Theme
.footer {
  background-color: variables.$background-color-dark;
  color: variables.$text-on-dark;

  &__logo {
    font-family: variables.$font-family-heading;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
  }

  &__links {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
  }
}

// ------------------------------ retaurant-x.html ------------------------------

.header__back-link {
  font-size: 16px;
}

// Menu Container
.menu-container {
  background-color: variables.$background-color-light;
}

.menu-header__restaurant-name {
  font-family: variables.$font-family-heading;
  font-size: 24px;
}

.restaurant-banner {
  font-family: variables.$font-family-heading;
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
}

.menu-section__title {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}

// I'm a pretty little green line
.menu-section__title::after {
  background-color: variables.$tertiary-color;
}

.menu-item {
  box-shadow: 0px 4.01px 15.04px 0px variables.$shadow-color-3;

  &__title {
    font-weight: 500;
    font-size: 18px;
  }
  &__details {
    font-weight: 300;
    font-size: 15.04px;
  }
  &__price {
    font-weight: 700;
    font-size: 15.04px;
  }
}
