// Colors
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$text-main: #000000;
$text-grey: #353535;
$text-on-dark: #ffffff;

$grey-1: #f6f6f6;
$grey-2: #eaeaea;
$grey-3: #7e7e7e;
$grey-4: #353535;

//Shadow colors
$shadow-color-1: #00000026;
$shadow-color-2: #00000040;
$shadow-color-3: #0000001a;
$shadow-color-4: #00000059;

//Badge new colors
$badge-bg-color: $tertiary-color;
$badge-text-color: #008766;

//Background colors
$background-color-white: #ffffff;
$background-color-light: $grey-1;
$background-color-medium: $grey-2;
$background-color-dark: $grey-4;

//Favorite icon colors
$favorite-icon-empty-text-color: #101010;
$favorite-icon-full-bg-color: linear-gradient(to bottom, $primary-color, $secondary-color);

//CTA-button
$shadow-cta-button: 0px 4px 10px 0px $shadow-color-2;
$shadow-cta-button--hover: 0px 4px 15px 0px $shadow-color-4;
$bg-color-cta-button: linear-gradient(to bottom, $secondary-color, $primary-color);
// FIGMA
// $bg-color-cta-button: linear-gradient(193.33deg, $primary-color -11.44%, $secondary-color 123.93%);

// Polices
$font-family-base: "Roboto", sans-serif;
$font-family-heading: "Shrikhand", sans-serif;
$font-style-heading: normal;
// FIGMA
// $font-style-heading: italic;

// Breakpoints
$breakpoint-medium: 768px;

$max-site-width: 1440px;
$max-container-width: 1200px;
$max-content-width: 1055px;

$min-site-width: 250px;
