// Colors
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$text-main: #000000;
$text-grey: #353535;
$text-on-dark: #ffffff;

$light-grey: #f6f6f6;
$medium-grey: #eaeaea;
$dark-grey: #7e7e7e;
$main-white: #ffffff;

$badge-bg-color: $tertiary-color;
$badge-text-color: #008766;

$background-color-white: $main-white;
$background-color-light-grey: $light-grey;
$background-color-medium-grey: $medium-grey;
$background-color-footer: #353535;

// Polices
$font-family-base: "Roboto", sans-serif;
$font-family-heading: "Shrikhand", sans-serif;

// Breakpoints
$breakpoint-medium: 768px;
