* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.loader__spinner {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 30px;
}

body {
  min-width: 250px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;
}
.header__logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 63px;
  z-index: 1;
}
.header__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 17px;
}

.footer {
  padding: 22px 25px;
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 7px;
}
.footer__item:last-child {
  margin-bottom: 0;
}
.footer__icon {
  margin-right: 10px;
  width: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 30px;
}
.hero__title {
  margin: 7px 20px 0;
}
.hero__subtitle {
  margin-top: 12px;
}
.hero__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 20px;
}

.functioning {
  padding: 40px 20px;
}
.functioning__title {
  margin-top: 5px;
}
.functioning__steps {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
  padding-left: 12px;
  margin-top: 30px;
  margin-bottom: 28px;
}

.step {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 25px 20px;
  position: relative;
  min-height: 72.38px;
}
.step__number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
  width: 24px;
  height: 24px;
}
.step__icon {
  margin-right: 20px;
}

.restaurants {
  padding: 40px 17px;
}
.restaurants__title {
  margin-top: 10px;
  margin-left: 3px;
}
.restaurants__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 20px;
  margin-bottom: 10px;
}

.restaurant__badge--new {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 7px 12px;
}

.restaurant {
  height: 100%;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}
.restaurant__link {
  display: block;
}
.restaurant__img-container {
  height: 175px;
  overflow: hidden;
}
.restaurant__img {
  width: 100%;
  height: 100%;
}
.restaurant__info {
  padding: 15px;
  padding-right: 60px;
}
.restaurant__name {
  margin: 0 0 5px;
}
.restaurant .favorite-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 21px;
  right: 20px;
  bottom: 25px;
}
.restaurant .favorite-button .favorite-icon--empty, .restaurant .favorite-button .favorite-icon--full {
  position: absolute;
}

.header__back-link {
  position: absolute;
  z-index: 2;
  left: 20px;
}

.restaurant-banner {
  width: 100%;
  height: 273px;
  overflow: hidden;
}
.restaurant-banner__img {
  width: 100%;
  height: 100%;
}

.menu-container {
  position: relative;
  margin: -55px auto 0;
  border-radius: 40px 40px 0 0;
  padding: 30px 15px;
  z-index: 1;
}

.menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.menu-header .favorite-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.menu-header .favorite-button .favorite-icon--empty, .menu-header .favorite-button .favorite-icon--full {
  position: absolute;
}

.menu-section {
  margin: 0 auto 30px;
}
.menu-section__title {
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 5px;
}
.menu-section__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 3px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 15px;
}

.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  height: 69px;
  position: relative;
}
.menu-item__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1;
  padding: 15px;
  min-width: 0;
  padding-right: 0;
}
.menu-item__title, .menu-item__details {
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-item__price-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  padding: 15px;
  padding-left: 5px;
  flex-shrink: 0;
}
.menu-item__checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 100%;
  margin-right: -59px;
}
.menu-item__label-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

.order-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px;
}
.order-container__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 10px;
  padding: 0 50px;
}

.loader {
  background-color: #ffffff;
  opacity: 0.9;
}
.loader__spinner {
  border-color: #9356dc;
  border-top-color: #ff79da;
  border-bottom-color: #ff79da;
  border-style: dashed;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.favorite-checkbox,
.dish-checkbox {
  display: none;
}

.favorite-button {
  cursor: pointer;
  background: none;
  width: 21px;
}
.favorite-button i {
  font-size: 21px;
}

.favorite-icon--empty {
  color: #101010;
  opacity: 1;
}

.favorite-icon--full {
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
}

.cta-button {
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  border-radius: 25px;
  color: #ffffff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}

.header__logo-container {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.header__logo {
  font-family: "Shrikhand", sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: 400;
}
.header__location {
  background-color: #eaeaea;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  color: #353535;
}
.header__location-icon {
  font-size: 16px;
}
.header__location-text {
  font-size: 16px;
  font-weight: 500;
}

.hero {
  background-color: #f6f6f6;
}
.hero__title {
  font-size: 24px;
  font-weight: 700;
}
.hero__subtitle {
  color: #353535;
  font-size: 18px;
  font-weight: 300;
}

.functioning {
  background-color: #ffffff;
}
.functioning__title {
  font-size: 24px;
  font-weight: 700;
}

.step {
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.step__number {
  border-radius: 50%;
  background-color: #9356dc;
  color: #ffffff;
  font-size: 14.18px;
  font-weight: 500;
}
.step .fa-mobile-alt {
  font-size: 19.9px;
  color: #7e7e7e;
}
.step .fa-list-ul {
  font-size: 15.92px;
  color: #7e7e7e;
}
.step .fa-store {
  font-size: 17.91px;
  color: #9356dc;
}
.step__text {
  font-weight: 700;
  font-size: 16px;
}

.restaurants {
  background-color: #f6f6f6;
}
.restaurants__title {
  font-weight: 700;
  font-size: 24px;
}

.restaurant__badge--new {
  background-color: #99e2d0;
  color: #008766;
  font-weight: 500;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.restaurant {
  background-color: #ffffff;
  border-radius: 15px;
}
.restaurant__name {
  font-size: 18px;
  font-weight: 700;
}
.restaurant__location {
  font-size: 17px;
  font-weight: 300;
}

.footer {
  background-color: #353535;
  color: #ffffff;
}
.footer__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.footer__links {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
}

.header__back-link {
  font-size: 16px;
}

.restaurant-banner {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
}

.menu-container {
  background-color: #f6f6f6;
}

.menu-header__restaurant-name {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
}

.menu-section__title {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}

.menu-section__title::after {
  background-color: #99e2d0;
}

.menu-item {
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
}
.menu-item__title {
  font-weight: 700;
  font-size: 18px;
}
.menu-item__details {
  font-weight: 300;
  font-size: 15.04px;
}
.menu-item__price {
  font-weight: 700;
  font-size: 15.04px;
}
.menu-item__checkbox-container {
  background-color: #99e2d0;
}
.menu-item__checkbox-icon {
  color: #ffffff;
  font-size: 20px;
}

@media (min-width: 768px) {
  body {
    max-width: 1440px;
  }
  .header__logo-container {
    box-shadow: none;
    height: 96px;
  }
  .header__logo {
    font-size: 34px;
  }
  .header__location {
    box-shadow: none;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 59px 25px 31px;
  }
  .footer__logo {
    order: 2;
    margin: 0;
    margin-right: 40px;
  }
  .footer__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0;
    margin-right: 90px;
    gap: 18px;
  }
  .footer__item {
    margin: 0;
  }
  .footer__item:nth-child(2) {
    margin-right: 25px;
  }
  .footer__icon {
    font-size: 13px;
    width: 13px;
  }
  .hero__title {
    margin: 0 20px;
    font-size: 40px;
  }
  .hero__subtitle {
    margin-top: 30px;
  }
  .hero__button {
    margin-bottom: 0;
  }
  .functioning > * {
    max-width: 1200px;
    margin: 0 auto;
  }
  .functioning__title {
    margin-top: 7px;
  }
  .functioning__steps {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding-left: 12px;
    margin-top: 30px;
    margin-bottom: 15px;
    gap: 36px;
  }
  .step {
    flex: 1;
    max-width: 323px;
  }
  .restaurants {
    padding: 30px 17px;
  }
  .restaurants > * {
    max-width: 1200px;
    margin: 0 auto;
  }
  .restaurants__title {
    margin-top: 0;
  }
  .restaurants__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 0px;
    gap: 50px;
  }
  .restaurant {
    flex: 0 0 calc(50% - 50px);
    margin-bottom: 0;
  }
  .restaurant-banner {
    height: 383px;
  }
  .menu-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 43px;
  }
  .menu-container {
    margin-top: -41px;
    max-width: 1055px;
  }
  .menu-section {
    max-width: 634px;
    margin-bottom: 40px;
  }
  .menu-items {
    gap: 12px;
  }
  .order-container__button {
    margin-top: 0;
  }
}
.cta-button {
  transition: opacity 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
.cta-button:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.favorite-button .favorite-icon {
  transition: opacity 0.3s ease;
}
.favorite-button .favorite-icon--empty {
  opacity: 1;
}
.favorite-button .favorite-icon--full {
  opacity: 0;
}
.favorite-button .favorite-checkbox:checked + .favorite-icon--empty {
  opacity: 0;
}
.favorite-button .favorite-checkbox:checked ~ .favorite-icon--full {
  opacity: 1;
}

.loader {
  animation: fadeOut 1s ease 2s forwards;
}
.loader__spinner {
  animation: spin 2s linear infinite;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu-section {
  animation: appearFromBottom 0.9s forwards;
  opacity: 0;
}
.menu-section:nth-child(1) {
  animation-delay: 0s;
}
.menu-section:nth-child(2) {
  animation-delay: 0.3s;
}
.menu-section:nth-child(3) {
  animation-delay: 0.6s;
}
.menu-section:nth-child(4) {
  animation-delay: 0.9s;
}

@keyframes appearFromBottom {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu-item:hover .menu-item__checkbox-container,
.menu-item .dish-checkbox:checked ~ .menu-item__checkbox-container {
  animation: slideToLeft 0.3s ease forwards;
}

.menu-item .menu-item__checkbox-container {
  animation: slideToRight 0.3s ease;
}

@keyframes slideToLeft {
  from {
    margin-right: -59px;
  }
  to {
    margin-right: 0;
  }
}
@keyframes slideToRight {
  from {
    margin-right: 0;
  }
  to {
    margin-right: -59px;
  }
}